.fade-up{

opacity:0;

transform:translateY(50px);

transition:1s;

}

.fade-up.show{

opacity:1;

transform:translateY(0);

}

.zoom{

opacity:0;

transform:scale(.8);

transition:1s;

}

.zoom.show{

opacity:1;

transform:scale(1);

}

.slide-left{

opacity:0;

transform:translateX(-80px);

transition:1s;

}

.slide-left.show{

opacity:1;

transform:translateX(0);

}

.slide-right{

opacity:0;

transform:translateX(80px);

transition:1s;

}

.slide-right.show{

opacity:1;

transform:translateX(0);

}