/* ===============================
   TABLETS
=============================== */

@media (max-width:991px){

.hero-grid,
.why-grid,
.contact-grid,
.footer-grid{

grid-template-columns:1fr;

}

.services-grid,
.portfolio-grid,
.pricing-grid,
.testimonial-grid,
.stats-grid{

grid-template-columns:repeat(2,1fr);

}

.hero{

text-align:center;

}

.hero-buttons{

justify-content:center;

}

.hero-stats{

justify-content:center;

}

.why-image{

margin-bottom:40px;

}

}

/* ===============================
   MOBILE
=============================== */

@media (max-width:768px){

header .container{

height:80px;

}

nav{

position:absolute;
top:80px;
left:-100%;
width:100%;
background:white;
transition:.4s;
padding:30px;

}

nav.active{

left:0;

}

nav ul{

flex-direction:column;
gap:25px;

}

#menuBtn{

display:flex;

}

.btn{

display:none;

}

.hero{

padding-top:130px;

}

.hero-left h1{

font-size:2.5rem;

}

.hero-buttons{

flex-direction:column;

}

.hero-stats{

flex-direction:column;
gap:25px;

}

.services-grid,
.portfolio-grid,
.pricing-grid,
.testimonial-grid,
.stats-grid{

grid-template-columns:1fr;

}

.features{

grid-template-columns:1fr;

}

.section-title h2{

font-size:34px;

}

}